<h1>Invoice #<%= @invoice.id %></h1>

<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%= Customer.find(@invoice.customer_id).first_name %> <%= Customer.find(@invoice.customer_id).last_name %></p>

<h3>Items:</h3>
<% @merchant.items_on_invoice(@invoice.id).each do |ii| %>
  <div id = <%= "#{ii.id}" %> >
    <h4><%= ii.name %></h4>
    <p>Quantity: <%= ii.quantity %></p>
    <p>Unit Price: $<%= ii.price_to_dollars(ii.item_price) %></p>
    <%= form_with model: [:merchant, ii], local: true do |f| %>
      <%= f.label :status %>
      <%= f.select :status, ['pending', 'packaged', 'shipped'] %>
      <%= f.submit 'Update Item Status' %>
    <% end %>
  </div>
<% end %>

<p>Total Revenue: $<%= @invoice.total_revenue(params[:merchant_id]) %> </p>
<p>Total Discount Applied: $<%= @invoice.total_discount(params[:merchant_id]) %> </p>
<p>Final Revenue: $<%= @invoice.discounted_revenue(params[:merchant_id]) %> </p>
