<h1>Welcome to Discount Warehouse</h1>

<h2>A fictitious Ruby on Rails e-commerce site</h2>

<div class="row">
  <div class="col-8">
    <h3>About</h3>
    <p>Discount warehouse was developed by a group of 4 backend engineers at Turing School of Software and Design to develop skills related to BE functionality through advanced Active Record/ SQL queries. PostgreSQL was used to manage the many-to-many relationships and integrate data access for frontend consumption. Through TDD using RSpec and FactoryBot, the e-commerce site was developed to allow functionality for both admin and merchant(visitor) accounts. Both sides can be accessed through the main navigation bar. Discount Warehouse also consumes Github and Nagerservice API's. </p>
  </div>
  <div class="col-1">

  </div>
  <div class="col-3">
    <h5>Contributors:</h5>
    <p>Marla Schulz</p>
    <ul>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/marla-a-schulz/" %></li>
      <li><%= link_to "Github", "https://github.com/marlitas" %></li>
    </ul>
    <p>Samantha Peterson</p>
    <ul>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/samantha-peterson-15b18220b/" %></li>
      <li><%= link_to "Github", "https://github.com/sami-p" %></li>
    </ul>
    <p>Jacob Piland</p>
    <ul>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/jacob-piland-3a6083212/" %></li>
      <li><%= link_to "Github", "https://github.com/Jtpiland" %></li>
    </ul>
    <p>Dane Brophy</p>
    <ul>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/dane-brophy/" %></li>
      <li><%= link_to "Github", "https://github.com/danembb" %></li>
    </ul>
  </div>
</div>
