<h1>My Items</h1>

<div class="admin-links">
  <p>Merchant Links:</p>
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
  <%= link_to 'My Discounts', "/merchants/#{@merchant.id}/discounts" %>
</div>

<h2>My Top 5 Items By Revenue</h2>
<div class= "top-5-items">
  <ol>
    <% @merchant.items.top_5_items.each do |item| %>
      <li><p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>, Revenue Generated: <%= item.total %></p>
      <p>Top selling date for <%= item.name %> was <%= item.best_day.strftime("%A, %B %d, %Y") %></p></li>
    <% end %>
  </ol>
</div>

<%= link_to 'Create a New Item', "/merchants/#{@merchant.id}/items/new" %>

<h2>Enabled Items</h2>
<div class = 'row'>
  <% @merchant.items.enabled.each do |item| %>
    <div class = 'card col-4' id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Description: <%= item.description %></p>
      <p>Unit Price: <%= item.unit_price %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=1", method: :patch, local: true do |f| %>
        <%= f.submit "Disable" %>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Disabled Items</h2>
<div class = 'row' >
  <% @merchant.items.disabled.each do |item| %>
    <div class = 'card col-4' id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Description: <%= item.description %></p>
      <p>Unit Price: <%= item.unit_price %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=0", method: :patch, local: true do |f| %>
        <%= f.submit "Enable" %>
      <% end %>
    </div>
  <% end %>
</div>
