<h1>My Items</h1>

<h2>My Top 5 Items By Revenue</h2>
<div class= "top-5-items">
<% @merchant.items.top_5_items.each do |item| %>
  <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>, Revenue Generated: <%= item.total %></p>
  <p>Top selling date for <%= item.name %> was <%= item.best_day.strftime("%A, %B %d, %Y") %></p>
<% end %>
</div>

<%= link_to 'Create a New Item', "/merchants/#{@merchant.id}/items/new" %>

<!-- Temporary iteration to test best days functionality -->
<% Item.top_items(@merchant.id).each do |item| %>
  <p>Top selling date for <%= item.name %> was <%= item.best_day.strftime("%A, %B %d, %Y") %></p>
<% end %>

<div id="enabled">
  <h2>Enabled Items</h2>
  <% @merchant.items.enabled.each do |item| %>
    <div id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Description: <%= item.description %></p>
      <p>Unit Price: <%= item.unit_price %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=1", method: :patch, local: true do |f| %>
        <%= f.submit "Disable" %>
      <% end %>
    </div>
  <% end %>
</div>

<div id='disabled'>
  <h2>Disabled Items</h2>
  <% @merchant.items.disabled.each do |item| %>
    <div id= <%= "#{item.id}" %>>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <p>Description: <%= item.description %></p>
      <p>Unit Price: <%= item.unit_price %></p>
      <p>Status: <%= item.status %></p>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}?status=0", method: :patch, local: true do |f| %>
        <%= f.submit "Enable" %>
      <% end %>
    </div>
  <% end %>
</div>
