<div class="admin-links">
  <%= link_to 'My Items', "/merchants/#{@item.merchant_id}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{@item.merchant_id}/invoices" %>
  <%= link_to 'My Discounts', "/merchants/#{@item.merchant_id}/discounts" %>
</div>

<h1><%= @item.name %></h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<p>Description: <%= @item.description %> </p>
<p>Current Selling Price: $<%= @item.price_to_dollars %> </p>
<p><%= link_to "Edit This Item", "/merchants/#{@item.merchant_id}/items/#{@item.id}/edit" %></p>
