<h1>My Bulk Discounts</h1>

<% @merchant.discounts.each do |discount| %>
<h4>Discount ID: <%= discount.id %></h4>
<p>Perfcent off: %<%= discount.percent %> </p>
<p>quantity_threshold: <%= discount.quantity_threshold %> </p>
<% end %>

<h2>Upcoming Holidays</h2>
<% @holidays.each do |holiday| %>
  <p> <%= holiday.name %> </p>
  <p> <%= holiday.date %> </p>
<% end %>
