<div class="admin-links">
  <%= link_to 'My Items', "/merchants/#{params[:merchant_id]}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{params[:merchant_id]}/invoices" %>
  <%= link_to 'My Discounts', "/merchants/#{params[:merchant_id]}/discounts" %>
</div>

<h1> Discount ID: <%= @discount.id %> </h1>

<p>Percent: <%= @discount.percent %>% </p>
<p>Quantity Threshold: <%= @discount.quantity_threshold %> </p>

<%= link_to 'Edit Discount', "/merchants/#{params[:merchant_id]}/discounts/#{@discount.id}/edit" %>
