<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-content">
      <nav>
        <%= link_to 'Welcome', "/"  %>
        <%= link_to 'Admin', "/admin" %>
        <%= link_to 'Merchant', "/merchants"  %>
        <%= link_to 'Github Repo', "https://github.com/marlitas/little-esty-shop" %>
      </nav>
      <div class="container">
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <footer>
        <p>github repo: <%= @repo.name %></p>
        <p>Total Merged PRs: <%= @pull_count %></p>

        <h5>Contributors:</h5>
        <div class="row">
          <% @contributors[0..4].each do |contributor| %>
          <div class="col-3">
            <p><%= contributor.user_name %></p>
            <p>commits: <%= contributor.contributions %></p>
          </div>
          <% end %>
        </div>
      </footer>
    </div>
  </body>

</html>
